<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema_Web_Peliculas_MVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sistema_Web_Peliculas_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <div class="d-flex" style="min-height: 100vh;">

        <!-- Sidebar -->
        <nav class="bg-dark text-white p-3" style="width: 250px;">
            <h5 class="mb-4">Sistema Películas</h5>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">
                        Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Generos" asp-action="Index">
                        Géneros
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Plataformas" asp-action="Index">
                        Plataformas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Peliculas" asp-action="Index">
                        Películas
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Contenido principal -->
        <div class="flex-grow-1">
            <main class="container py-4">
                @RenderBody()
            </main>

            <footer class="border-top text-muted text-center py-2">
                &copy; 2025 - Sistema_Web_Peliculas_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </footer>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
